
<%= form_for @sighting, html: {multipart: true} do |f| %>


	<div><%= f.label :topic_id %> <br />
		<%= f.collection_select :topic_id, Topic.all, :id, :name %>
	</div>

	<button class="btn" type="button"><%= link_to "Add a new topic?", new_topic_path %></button>

	<div>
		<%= f.label :location %><br />
		<%= f.text_field :location, placeholder: 'eg: 12 Kingsway W, Toronto' %><br />	
	</div>

	<div>
		<%= f.label :time %><br />
		<%= f.text_field :sighted_date, class: "datepicker", placeholder: '2012-01-04' %><%= f.text_field :sighted_time, class: "timepicker", placeholder: '12 pm' %><br />	
	</div>

	<%= f.fields_for :photos, @photos do |builder| %>
		<div>
		<%= builder.label :image %><br />
		<%= builder.file_field :image %><br />	
	</div>
	
<% end %>

	
	<%= f.submit 'Submit' %>

<% end %>