<%= form_for @sighting, html: {multipart: true, class: "form-horizontal"} do |f| %>
	
	<div class="control-group">
		<%= f.label :topic_id, class: "control-label" %>
		<div class="controls">
			<%= f.collection_select :topic_id, Topic.all, :id, :name %>
			<button class="btn" type="button"><%= link_to "Add a new topic?", new_topic_path %></button>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :description, class: "control-label" %>
		<div class="controls">
			<%= f.text_area :description, placeholder: 'Description' %>
		</div>
	</div>


	<div class="control-group">
		<%= f.label :location, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :location, placeholder: 'e.g.: 12 Kingsway W, Toronto' %>
		</div>	
	</div>

	<div class="control-group">
		<%= f.label :time, class: "control-label" %>
		<div class="controls">
		<%= f.text_field :sighted_date, class: "datepicker", placeholder: 'e.g.: 2012-01-04' %>
		<%= f.text_field :sighted_time, class: "timepicker", placeholder: 'e.g.: 12 pm' %>
		</div>	
	</div>

	<div class="control-group">
		<%= f.label :photos, class: "control-label" %>
		<div class="controls">

			<%= f.fields_for :photos, @photos do |builder| %>
				<div>
				<%#= builder.label :image %>
				<%= builder.file_field :image %>
				</div>
		<% end %>
		</div>
		
	<div class="control-group">
		<div class="controls">
			<%= f.submit 'Submit', class: "btn btn" %>
		</div>
	</div>

</form>
<% end %>