<%= Topic.find(@sighting.topic_id).name%>

<%= form_for(@sighting) do |f| %>

 	<div><%= f.label :topic_id %> <br />
		<%= f.select :topic_id, ['1', '2', '3', '4'] %>
	</div>

	<div>
		<%= f.label :location %><br />
		<%= f.text_field :location %><br />	
	</div>

	
	<%= f.submit 'Submit' %>

<% end %>