<%= Topic.find(@sighting.topic_id).name%>

<%= form_for(@sighting) do |f| %>

	<div>
		<%= f.label :topic_id %><br />
		<%= f.text_field :topic_id %><br />	
	</div>




	<div>
		<%= f.label :location %><br />
		<%= f.text_field :location %><br />	
	</div>

	<div>
		<%= f.label :longitude %><br />
		<%= f.text_field :longitude %><br />	
	</div>

	<div>
		<%= f.label :latitude %><br />
		<%= f.text_field :latitude %><br />	
	</div>

	<%= f.submit 'Submit' %>

<% end %>