<h4><% topic_id = sighting.topic_id %>
				<%= Topic.find(topic_id).name %></h4>
<h4>sighted by: <%= sighting.user.email %></h4>
<h4>at <%= sighting.created_at %></h4>
<%= link_to 'Show', sighting %>
<%= link_to 'Edit', edit_sighting_path(sighting) %>
<%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= render sighting.comments %>