<h3><p>Edit Sighting</p></h3>

	<p>
		<% @sighting.photos.each do |photo| %>
			<%= image_tag photo.image.url(:large) if photo.image.present? %>
		<% end %>
	</p>


	<%#= Topic.find(@sighting.topic_id).name%>
	<%= render 'form' %>

		<div>
			Sighted at: <%= @sighting.sighted_at.to_formatted_s(:long) %><br />
		</div>

	</div>




<p>
<%= gmaps("markers" => {"data" => @json}) %>
</p>

</div>


<%= link_to 'Show', @sighting, class: "btn btn"%>
<%= link_to 'Back', sightings_path, class: "btn btn" %>