<h1>All Sightings</h1>

<ul>
<% @sightings.each do |sight| %>
	<li>
	Posted by: <%= sight.user.email %><br />
	<%= sight.location %>
	<%= sight.longitude %>
	<%= sight.latitude %>
	<%= sight.created_at %>
	<%= link_to 'Show', sight %>
	<%= link_to 'Edit', edit_sighting_path(sight) %>
	<%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	<ul>
		<%= render sight.comments %>
		<li>
			<%= render 'comments/form',
					comment: sight.comments.build,
					sighting: sight %>
		</li>
	</ul>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{sight.latitude}%2C#{sight.longitude}" %>
</p>


	</li>
<% end %>
</ul>


<%= link_to "New Sightings", new_sighting_path %>

