<div class="container-fluid">
  
<!--1st row-->
  <div class="row-fluid">
  	<div class="span12">
	<!--Searching--> 
		<form class="form-inline">
			<%= search_form_for @q do |f| %>
				<%#= f.label :location_cont, "Search Location" %>
				<%= f.text_field :location_cont, placeholder: "Location Keyword" %>

				<%#= f.label :topic_name_cont, "Search Topic" %>
				<%= f.text_field :topic_name_cont, placeholder: "Topic Keyword" %>

				<%#= f.label :description_cont, "Description" %>
				<%= f.text_field :description_cont, placeholder: "Description Keyword" %>

				<%#= f.submit "Submit" %>
				<%= button_tag(type: 'submit', class: "btn btn-info") do %>
				    <i class="icon-search icon-white"></i>
				<% end %>
			<% end %>
		</form>
	<!--End of searching-->
	</div>
  </div>
<!--End of 1st row-->

<!--Start of 2nd row-->
  	<!--Sidebar content, 2nd row-->
  	<div class="row-fluid">
    	<div class="span3">
      
	      	<p><%= link_to "Report a sighting", new_sighting_path, class: "btn btn" %></p>		
	      	<p><%= link_to "Add a new topic", new_topic_path, class: "btn btn" %></p>

<!--Number of Sightings on Map (<%= @sightings.count %>)-->
<!-- <h3>Current User: 
	<#% if user_signed_in? %>
		<%#= current_user.email %>
	<%# else %>
		No User signed in
	<%# end %></h3>
 -->

<!-- BELOW SECTION:  Ryan showed me way to make dropdown using css -->
	<%#= form_tag sightings_path, method: :get do %>
	<!-- 	<select name="topic">
			<option value="">
				<%#= link_to 'All sightings', sightings_path%> (<%#= @sightings_all.count %>)
			</option>
			<%# @topics.each do |topic| %>
				<option value="<%#= topic.id %>">
				<%#= topic.name%> (<%#= topic.sightings.count %> sightings)
				</option>
			<%# end %>
		</select>

		<input type='submit' value='Go!' />
	<%# end %>-->
<!-- END SECTION:  Ryan showed me way to make dropdown using css -->

<!--Can pick which topics to see on map-->

<div class="dropdown">
  <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#" >
  	SHOW SIGHTINGS
  	<b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><%= link_to "ALL (#{@sightings_all.count})", sightings_path %></li>
    <li class = "divider"></li>
  
  	<% @topics.each do |topic| %>
		<li>
		<%= link_to "#{topic.name.upcase} (#{topic.sightings.count})", "?topic=#{topic.id}" %> 
		</li>
	<% end %>
  </ul>
</div>

<!--Can pick which topics to see on map-->

<!-- <p>
<div class="dropdown">
  <a class="dropdown-toggle btn" data-toggle="dropdown" href="#" >
  	TOP 5
  	<b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>Recent Sightings</li>
    <li>Topics</li>
    <li>Commented Sightings</li>
  </ul>
</div>
</p>
 -->
<!-- <p>
<b>Top 5</b>
	<%# @sightings_recent5.each do |recent5| %>
	<li><%# topic_id = recent5.topic_id %>
					<%#= Topic.find(topic_id).name.upcase %></li>
	<#% end %>
</p> -->
	</div>
	<!--End sidebar content, 2nd row-->

	<!--Main content, 2nd row-->
	<div class="span9">
		<%= gmaps("markers" => {"data" => @json, :options => { :do_clustering => true, randomize: true}}) %>

		<br />
		<div id="days-slider" style="width: 600px"></div>
		<input type="text" id="days-box" style="width: 100 px" />
		<br />

		</ul>
		<script type="text/javascript">

                  function slider_display_string(from,to){
                    return "filter: " + Math.ceil(from/24)+ " to " + Math.floor(to/24) + " days"
                  }

		  now = new Date();
                  first_sight = new Date('<%= @sightings.first.sighted_at.to_s unless @sightings.empty?%>');
                  maxhours = Math.ceil((now.getTime()-first_sight.getTime())/3600000);
                  if (maxhours < 0 || maxhours > 1000 || isNaN(maxhours)) maxhours = 2400; 

		  $(document).ready(function() {
		    Gmaps.map.callback = function() {
		      var daysRange = {
		      min:-maxhours, 
		      max: 0,
		      };
		      $( "#days-box" ).val(slider_display_string(-daysRange.min, -daysRange.max));
		      $("#days-slider").slider({
		        range: true,
		        min: daysRange.min,
		        max: daysRange.max,
		        values: [ daysRange.min, daysRange.max ],

		        slide: function(event, ui) {
		          $( "#days-box" ).val( slider_display_string(-ui.values[0], -ui.values[1]));
		          //$( "#days-box" ).val( "filter: last " + Math.ceil(-ui.values[0]/24) + " days")
		      
		          _.each(Gmaps.map.markers, function(marker) {
		            var when = new Date(marker.when)
		            var hours = -(now.getTime()-when.getTime())/3600000;
		            if (hours < ui.values[0] || hours > ui.values[1]) Gmaps.map.hideMarker(marker)
		            if (hours >= ui.values[0] && hours <= ui.values[1]) Gmaps.map.showMarker(marker)
		          })

		        }
		      });
		    }
		  });
		</script>



		<p>
			<b><%= @topics.count %></b> <i class="icon-tags"></i><br />
			<b><%= @users.count %></b> <i class="icon-user"></i><br />
		</p>

	</div>
<!--End of 2nd row-->

<!--Start of 3rd row-->
<div class="row-fluid">
	<!--Table content, 3rd row-->
    <div class="span12">
    
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        <h4>MAP SIGHTINGS</h4>
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	      <div class="accordion-inner">
	       	<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>TOPIC</th>
						<th>Description</th>
						<th>Location</th>
						<th>Time Spotted</th>
						<th>Spotter</th>			
						<th>Comments</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<% @sightings.each do |sight| %>
					<tr>
						<td><% topic_id = sight.topic_id %>
							<%= Topic.find(topic_id).name.upcase %></td>
						<td><%= sight.description %></td>
						<td><%= sight.location %>
						<td><%= sight.sighted_at.to_formatted_s(:long) %></td>
						<td><%= sight.user.email %></td>
						<td><%= sight.comments.count %></td>
						<% if sight.user == @current_user %>
							<td><%= link_to 'Show', sight, class: "btn btn" %></td>
							<td><%= link_to 'Edit', edit_sighting_path(sight), class: "btn btn"%></td>
							<td><%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn" %></td>
						<% else %>
							<td><%= link_to 'Show', sight, class: "btn btn" %></td>
							<td></td>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</table>

	      </div>
	    </div>
	  </div>
	  </div>
	</div>
	</div>
    <!--End of table content-->

<%# @sightings.each do |sight| %>
	<!-- <ul>
	Posted by: <%#= sight.user.email %><br />
	Topic name: <%# topic_id = sight.topic_id %>
				<%#= Topic.find(topic_id).name %><br />
	Description: <%#= sight.description %><br />
	<%#= sight.location %>
	<%#= sight.longitude %>
	<%#= sight.latitude %>
	<%#= sight.sighted_at.to_formatted_s(:long) %><br />

	<%#= image_tag sight.photos.first.image.url if sight.photos.first %><br />
	
	<%#= link_to 'Show', sight %>
	<%#= link_to 'Edit', edit_sighting_path(sight) %>
	<%#= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	</ul>


		<%#= render sight.comments %>
		<li>
			<%#= render 'comments/form',
					comment: sight.comments.build,
					sighting: sight %>
		</li>
	</ul>

	</li>
<%# end %>
</ul>
 -->
<!--Main content-->

<!--End of 3rd row-->
</div>
</div>