<h1>All Sightings (<%= @sightings.count %>)</h1>

<!--<ul>
<% @sightings.each do |sight| %>
	<li>
	Posted by: <%= sight.user.email %><br />
	<%= sight.topic_id %>
	<%= sight.location %>
	<%= sight.longitude %>
	<%= sight.latitude %>
	<%= sight.created_at %>
	<%= link_to 'Show', sight %>
	<%= link_to 'Edit', edit_sighting_path(sight) %>
	<%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	<ul>
		<%= render sight.comments %>
		<li>
			<%= render 'comments/form',
					comment: sight.comments.build,
					sighting: sight %>
		</li>
	</ul>

	</li>
<% end %>
</ul>-->

<h3>Topics</h3>
<ul>
<% @topics.each do |topic| %>
	<li>
	<%= link_to topic.name, "?topic=#{topic.id}" %>
	</li>
<% end %>
</ul>



<%= gmaps("markers" => {"data" => @json}) %>

<%= link_to "New Sightings", new_sighting_path %>

