<div class="container-fluid">
  <div class="row-fluid">

  	<!--Sidebar content-->
    <div class="span3">
      
	      	<p><%= link_to "Report a sighting", new_sighting_path, class: "btn btn" %></p>		
	      	<p><%= link_to "Add a new topic", new_topic_path, class: "btn btn" %></p>
	  
	<%#= search_form_for @q do |f| %>
		<%#= f.label :topic_cont, "Search Topic" %>
		<%#= f.text_field :topic_cont %>
		
		<%#= f.label :link_cont, "Search Link" %>
		<%#= f.text_field :link_cont %>
		<%#= f.submit "Submit" %>
	<%# end %>

<!-- <h1>Number of Sightings on Map (<%= @sightings.count %>)</h1>
 -->
<!-- <h3>Current User: 
	<% if user_signed_in? %>
		<%= current_user.email %>
	<% else %>
		No User signed in
	<% end %></h3>
 -->


<ul><li>
	<%= link_to 'Show all sightings', sightings_path%> (<%= @sightings_all.count %>)</li></ul>
<ul>
<% @topics.each do |topic| %>
	<li>
	<%= link_to topic.name, "?topic=#{topic.id}" %> (Number of sightings: <%= topic.sightings.count %>)
	</li>
<% end %>
</ul>
	
	</div>
	<!--End sidebar content-->

<%#= link_to 'Add a new topic', new_topic_path, class: 'btn btn-info'%>

	<!--Main content-->
	<div class="span9">


<%#= gmaps("markers" => {"data" => @json}) %>
<%= gmaps("markers" => {"data" => @json, :options => { :do_clustering => true, randomize: true}}) %>

<br />
<div id="days-slider" style="width: 600px"></div>
<input type="text" id="days-box" style="width: 100 px" />
<br />

</ul>
<script type="text/javascript">
  now = new Date();
  $(document).ready(function() {
    Gmaps.map.callback = function() {
      var daysRange = {
      min: 0,
      max: 100,
      };
      $( "#days-box" ).val( (daysRange.min)+ " - " + (daysRange.max))
      $("#days-slider").slider({
        range: true,
        min: daysRange.min,
        max: daysRange.max,
        values: [ daysRange.min, daysRange.max ],

        slide: function(event, ui) {
          $( "#days-box" ).val( (ui.values[ 0 ])+ " - " + (ui.values[ 1 ]) )
      
          _.each(Gmaps.map.markers, function(marker) {
            var when = new Date(marker.when)
            var days = (now.getTime()-when.getTime())/86400000;
            if (days < ui.values[0] || days > ui.values[1]) Gmaps.map.hideMarker(marker)
            if (days >= ui.values[0] && days <= ui.values[1]) Gmaps.map.showMarker(marker)
            //console.log(days)
            //console.log(marker)
          })
        }
      });
    }
  });
</script>



<h3>Topics (<%= @topics.count %>)</h3>
<h3>Users (<%= @users.count %>)</h3>
<%#= link_to "Report a new sighting", new_sighting_path, class: 'btn btn-danger'%>


<br />
<br />

<ul>
<% @sightings.each do |sight| %>
	<li>
	Posted by: <%= sight.user.email %><br />
	Topic name: <% topic_id = sight.topic_id %>
				<%= Topic.find(topic_id).name %><br />
	<%= sight.location %>
	<%= sight.longitude %>
	<%= sight.latitude %>
	<%= sight.sighted_at.to_formatted_s(:long) %><br />

	<%= image_tag sight.photos.first.image.url if sight.photos.first %><br />
	
	<%= link_to 'Show', sight %>
	<%= link_to 'Edit', edit_sighting_path(sight) %>
	<%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	<ul>
		<%#= render sight.comments %>
		<li>
			<%= render 'comments/form',
					comment: sight.comments.build,
					sighting: sight %>
		</li>
	</ul>

	</li>
<% end %>
</ul>

</div>
<!--Main content-->
</div>
</div>