<div class="container-fluid">
  <div class="row-fluid">

  	<!--Sidebar content-->
    <div class="span3">
      
	      	<p><%= link_to "Report a sighting", new_sighting_path, class: "btn btn" %></p>		
	      	<p><%= link_to "Add a new topic", new_topic_path, class: "btn btn" %></p>
	
	<!--Searching-->  
	<%#= search_form_for @q do |f| %>
		<%#= f.label :location_cont, "Search Location" %>
		<%#= f.text_field :location_cont %>
		
		<%#= f.label :link_cont, "Search Link" %>
		<%#= f.text_field :link_cont %>
		<%#= f.submit "Submit" %>
	<%# end %>
	<!--End of searching-->

<!--Number of Sightings on Map (<%= @sightings.count %>)-->
<!-- <h3>Current User: 
	<% if user_signed_in? %>
		<%= current_user.email %>
	<% else %>
		No User signed in
	<% end %></h3>
 -->


<select>
	<option>
		<%= link_to 'All sightings', sightings_path%> (<%= @sightings_all.count %>)
	</option>
	<% @topics.each do |topic| %>
		<option>
		<%= link_to topic.name, "?topic=#{topic.id}" %> (<%= topic.sightings.count %> sightings)
		</option>
	<% end %>
</select>

<!--Can pick which topics to see on map-->
	<li><%= link_to 'All sightings', sightings_path%> (<%= @sightings_all.count %>)</li>
	<% @topics.each do |topic| %>
		<li><%= link_to topic.name, "?topic=#{topic.id}" %> (<%= topic.sightings.count %> sightings)</li>
	<% end %>
<!--Can pick which topics to see on map-->

	</div>
	<!--End sidebar content-->

	<!--Main content-->
	<div class="span9">

		<%#= gmaps("markers" => {"data" => @json}) %>
		<%= gmaps("markers" => {"data" => @json, :options => { :do_clustering => true, randomize: true}}) %>

		<br />
		<div id="days-slider" style="width: 600px"></div>
		<input type="text" id="days-box" style="width: 100 px" />
		<br />

		</ul>
		<script type="text/javascript">
		  now = new Date();
		  $(document).ready(function() {
		    Gmaps.map.callback = function() {
		      var daysRange = {
		      min: 0,
		      max: 100,
		      };
		      $( "#days-box" ).val( (daysRange.min)+ " - " + (daysRange.max))
		      $("#days-slider").slider({
		        range: true,
		        min: daysRange.min,
		        max: daysRange.max,
		        values: [ daysRange.min, daysRange.max ],

		        slide: function(event, ui) {
		          $( "#days-box" ).val( (ui.values[ 0 ])+ " - " + (ui.values[ 1 ]) )
		      
		          _.each(Gmaps.map.markers, function(marker) {
		            var when = new Date(marker.when)
		            var days = (now.getTime()-when.getTime())/86400000;
		            if (days < ui.values[0] || days > ui.values[1]) Gmaps.map.hideMarker(marker)
		            if (days >= ui.values[0] && days <= ui.values[1]) Gmaps.map.showMarker(marker)
		            //console.log(days)
		            //console.log(marker)
		          })
		        }
		      });
		    }
		  });
		</script>


		<p>
			<b><%= @topics.count %></b> topics tracked<br />
			<b><%= @users.count %></b> spotters</b>
		</p>

	</div>

<div class="row-fluid">
	<!--Table content-->
    <div class="span12">
    

<h4>MAP SIGHTINGS</h4>
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>TOPIC</th>
			<th>Description</th>
			<th>Location</th>
			<th>Time Spotted</th>
			<th>Spotter</th>			
			<th>Comments</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<% @sightings.each do |sight| %>
		<tr>
			<td><% topic_id = sight.topic_id %>
				<%= Topic.find(topic_id).name.upcase %></td>
			<td><%= sight.description %></td>
			<td><%= sight.location %>
			<td><%= sight.sighted_at.to_formatted_s(:long) %></td>
			<td><%= sight.user.email %></td>
			<td><%= sight.comments.count %></td>
			<% if sight.user == @current_user %>
				<td><%= link_to 'Show', sight, class: "btn btn" %></td>
				<td><%= link_to 'Edit', edit_sighting_path(sight), class: "btn btn"%></td>
				<td><%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn" %></td>
			<% else %>
				<td><%= link_to 'Show', sight, class: "btn btn" %></td>
				<td></td>
				<td></td>
			<% end %>
		</tr>
	<% end %>


</table>

</div>
    <!--End of table content-->

<%# @sightings.each do |sight| %>
	<!-- <ul>
	Posted by: <%#= sight.user.email %><br />
	Topic name: <%# topic_id = sight.topic_id %>
				<%#= Topic.find(topic_id).name %><br />
	Description: <%#= sight.description %><br />
	<%#= sight.location %>
	<%#= sight.longitude %>
	<%#= sight.latitude %>
	<%#= sight.sighted_at.to_formatted_s(:long) %><br />

	<%#= image_tag sight.photos.first.image.url if sight.photos.first %><br />
	
	<%#= link_to 'Show', sight %>
	<%#= link_to 'Edit', edit_sighting_path(sight) %>
	<%#= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	</ul>


		<%#= render sight.comments %>
		<li>
			<%#= render 'comments/form',
					comment: sight.comments.build,
					sighting: sight %>
		</li>
	</ul>

	</li>
<%# end %>
</ul>
 -->
<!--Main content-->
</div>
</div>