
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <!--Sidebar content-->
    


<p>
	<b><%= Topic.find(@sighting.topic_id).name.upcase%></b>
</p>

<p>
<% @sighting.photos.each do |photo| %>
	<%= image_tag photo.image.url(:large) %>
<% end %>
</p>

<p>
	<b> Location </b>
		<%= @sighting.location %>
</p>

<!--
<p>
	<b> Longitude </b>
		<%= @sighting.longitude %>
</p>
<p>
	<b> Latitude </b>
		<%= @sighting.latitude %>
</p>
-->

<p>
	<b> Time spotted </b>
		<%= @sighting.sighted_at.to_formatted_s(:long) %>
</p>

<p>
	<b> Spotted by: </b>
		<%= @sighting.user.email %>
</p>


</div>
    <div class="span8">    

<p>
<%= gmaps("markers" => {"data" => @json}) %>
</p>
</div>
  </div>
</div>

<div class="row-fluid">
    <div class="span12">

<b> COMMENTS </b>
<%= render @sighting.comments %>

<%= render 'comments/form', comment: @sighting.comments.build, sighting: @sighting %>  

	</div>
</div>


<%= link_to 'Back', sightings_path, class: 'btn btn' %>
