
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
    


<p>
	<b><%= Topic.find(@sighting.topic_id).name.upcase%></b>
</p>

<p>
<% @sighting.photos.each do |photo| %>
	<%= image_tag photo.image.url(:large) %>
<% end %>
</p>

<p>
	<b> Location </b>
		<%= @sighting.location %>
</p>

<!--
<p>
	<b> Longitude </b>
		<%= @sighting.longitude %>
</p>
<p>
	<b> Latitude </b>
		<%= @sighting.latitude %>
</p>
-->

<p>
	<b> Time spotted </b>
		<%= @sighting.created_at.to_formatted_s(:long) %>
</p>

<p>
	<b> Spotted by: </b>
		<%= @sighting.user.email %>
</p>

    

</div>
    <div class="span9">    

<p>
<%= gmaps("markers" => {"data" => @json}) %>
</p>
</div>
  </div>
</div>

<%= link_to 'Back', sightings_path %>