<p>
	<b> Sighting </b>
</p>

<p>
	<b> Location </b>
		<%= @sighting.location %>
</p>

<p>
	<b> Longitude </b>
		<%= @sighting.longitude %>
</p>

<p>
	<b> Latitude </b>
		<%= @sighting.latitude %>
</p>

<p>
	<b> Time spotted </b>
		<%= @sighting.created_at %>
</p>

<p>
	<b> User </b>
		<%= @sighting.user.email %>
</p>

<p>
<%= gmaps("markers" => {"data" => @json}) %>
</p>

<%= link_to 'Back', sightings_path %>