<!DOCTYPE html>
<html>
<head>
  <title>Hacksighter1</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<!-- <body 
	style = "background: #CFB899"> -->
<body>

<!-- Added a Navbar - with title on LHS, and sign in/out next right, and username justified on RHS -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">HackSIGHTER</a>
	    <% if user_signed_in? %>
	    	<ul class = "nav">
		      	<li class="active">
		      	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
		    </ul>
		      	<div class='pull-right'>
		      		<p class = 'navbar-text'>
		      		<%= current_user.email %></p>
		      	</div>

		<% else %>
			<ul class="nav">
				<li class="active">
				<%= link_to "Sign In", new_user_session_path %></li></ul>
				<div class="pull-right">
					<p class= 'navbar-text'>
		      			Not signed in
		      		</p>
		      	</div>
		
		<% end %>
  </div>
</div>
<!-- End of Added Navbar -->

<div class='container'>



<%= yield %>

<%= yield :scripts %>

</body>
</html>
