<!DOCTYPE html>
<html>
<head>
  <title>Hacksighter1</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body 
	style = "background: #C5D2DB">
<body>

<!-- Added a Navbar - with title on LHS, and sign in/out next right, and username justified on RHS -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">HackSIGHTER</a>
	    <% if user_signed_in? %>
	    	<ul class = "nav pull-right">
		      	<li class="active">
		      	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
		    </ul>
		      	<div class='pull-right nav-user'>
		      		<p class = 'navbar-text'>
		      		<%= current_user.email %></p>
		      	</div>
		<% else %>
			<ul class="nav pull-right">
				<li class="active">
				<%= link_to "Sign In", new_user_session_path %></li></ul>
				<div class="pull-right nav-user">
					<p class= 'navbar-text'>
		      			Not signed in
		      		</p>
		      	</div>
		<% end %>

		<!-- Add searching to Navbar -->
			<form class = "navbar-form">
				<%= search_form_for @q do |f| %>
				<%#= f.label :location_cont, "Search Location" %>
				<%= f.text_field :location_cont, placeholder: "Location Keyword" %>

				<%#= f.label :topic_name_cont, "Search Topic" %>
				<%= f.text_field :topic_name_cont, placeholder: "Topic Keyword" %>

				<%#= f.label :description_cont, "Description" %>
				<%= f.text_field :description_cont, placeholder: "Description Keyword" %>

				<%= button_tag(type: 'submit', class: "btn btn-info") do %>
				    <i class="icon-search icon-white"></i>
				  <% end %>
			
				<% end %>
			</form>

		<!-- End adding searching to Navbar -->
  </div>
</div>
<!-- End of Added Navbar -->

<div class='container'>



<%= yield %>

<%= yield :scripts %>

</body>
</html>
